<footer id="footer" class="sixteen columns" data-hook>
	<div class="container text-center">
		<div class="line">
			<!-- Begin MailChimp Signup Form -->
			
			<div id="mc_embed_signup">
			<form action="http://enext.us6.list-manage2.com/subscribe/post?u=b8d54a982c40cca85081cd4bc&amp;id=a0958677e3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<label for="mce-EMAIL">Best way to stay updated with our offerings:</label>
				<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
				<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="black-button">
			</form>
			</div>
			<!--End mc_embed_signup-->
		</div>	
		<div class="line">
	        <ul class="footer-links">
              <li><a href="/about-us">About Us</a> | </li>
			  <li><a href="/contact-us">Contact Us</a> | </li>
	          <li><a href="/faq">F.A.Q.</a> | </li>
	          <li><a href="/privacy">Privacy Policy</a></li>	
	        </ul>				
		</div>
		<div class="line">
			 Copyright© 2013 Aakanksha Distributors Pvt. Ltd.
		</div>		
	</div>	
	<%#
	<div class="container">
    
    <div class="four columns">
     <h5>Reach Us </h5>
      <div class="phone">
        <a href="callto:08022582190">080-22582190</a>
      </div>
      <div class="email">
        <a href="mailto:info@enext.in">info@enext.in</a>
      </div>
      	  
        <div class="address">
        Spree Demo Store 01
        <br>
        Washigton DC, USA
      </div>
	  
    </div>
    
    <div class="four columns">
      <h5>Our Best Offers</h5>
      <ul>
        <li><a href="/products">New Products</a></li>
        <li><a href="/products">Top Sellers</a></li>
        <li><a href="/products">Specials</a></li>
        <li><a href="/products">Manufacturers</a></li>
        <li><a href="/products">Suppliers</a></li>
        <li><a href="/products">Service</a></li>        
      </ul>
    </div>
    
	
    <div class="four columns">
      <h5>Regular Services</h5>
      
    </div>
    
  </div>
  <div class="">
    <p>
     
    </p>
  </div>
%>
  
</footer>